.button {
  padding: 12px 40px;
  border-radius: 4px;
  background-color: #9100ff;
  background-image: linear-gradient(225deg, #9100ff, #ed6245);
  box-shadow: 0 10px 20px -7px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #9100ff;
  background-image: none;
  box-shadow: 0 10px 20px -7px rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
}

.top-title {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 130px;
  line-height: 120px;
  font-weight: 400;
  text-transform: none;
}

.top-title.normal-font {
  font-size: 100px;
  line-height: 100px;
  font-weight: 500;
}

.container-fluid {
  display: block;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid.center {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.top-margin {
  margin-top: 50px;
}

.gallery-button {
  position: absolute;
  left: 50%;
  right: 0px;
  bottom: 50px;
  z-index: 10;
  width: 200px;
  height: 100px;
  border-radius: 100%;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
  text-align: center;
}

.heart {
  width: 120px;
  height: 120px;
  margin-right: 25px;
  margin-left: 25px;
  background-image: url('../images/heart-1.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.background-video {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.top-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.align-center {
  text-align: center;
}

.tooltip-text {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 13px;
}

.gallery-icon {
  display: block;
  width: 60px;
  height: 60px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.4);
  border-radius: 100%;
  background-image: url('../images/icon.svg');
  background-position: 50% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.gallery-icon:hover {
  border-color: hsla(0, 0%, 100%, 0.9);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.text-block {
  margin-top: 10px;
  color: #c2c2c2;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

.text-block.white {
  color: #fff;
}

.banner {
  position: relative;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.content-wrapper {
  position: relative;
  overflow: hidden;
  padding-left: 80px;
}

.logo-brand {
  position: relative;
  z-index: 10;
  margin-top: 40px;
  text-decoration: none;
}

html.w-mod-js *[data-ix="tooltip-first-app"] {
  opacity: 0;
  -webkit-transform: translate(0px, -15px);
  -ms-transform: translate(0px, -15px);
  transform: translate(0px, -15px);
}

@media screen and (max-width: 991px) {
  .top-title {
    font-size: 80px;
    line-height: 90px;
  }

  .top-title.normal-font {
    font-size: 70px;
    line-height: 70px;
  }

  .heart {
    width: 70px;
    height: 70px;
  }

  .content-wrapper {
    padding-left: 55px;
  }
}

@media screen and (max-width: 767px) {
  .top-title {
    font-size: 60px;
    line-height: 70px;
  }

  .top-margin {
    margin-top: 20px;
  }

  .banner {
    height: 700px;
  }
}

@media screen and (max-width: 479px) {
  .top-title {
    font-size: 55px;
    line-height: 50px;
  }

  .top-title.normal-font {
    font-size: 60px;
    line-height: 60px;
  }

  .gallery-button {
    bottom: 20px;
  }

  .heart {
    display: block;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  .top-wrapper {
    display: block;
  }

  .text-block.white {
    font-size: 12px;
  }

  .logo-brand {
    padding-right: 20px;
    padding-left: 20px;
  }
}